In [1]:
import pandas, matplotlib

In [3]:
pandas.read_csv('/home/unix/jlchang/BTL/ChIPseq/ENCODE/jlcAnalysis/ENCODE_H3K27ac/adrenal', header=None, delim_whitespace=True)

          0      1
0    100000    613
1  11000000  18823
2   1500000   5975
3    250000    837
4   4000000  11806
5     50000    488
6    600000    738
7      orig  19243